.action__button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.learn-more-button {
  width: 158px;
  height: 48px;
  color: #3040c4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  border-radius: 2px;
}

.action__button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.learn-more-button {
  width: 158px;
  height: 48px;
  color: #3040c4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  border-radius: 2px;
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background: transparent;
  }
}
.header-button {
  display: none;
}
@media screen and (min-width: 400px) {
  .header-button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid;
  background: #2c3241;
  mix-blend-mode: normal;
  opacity: 0.1;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button-icon {
  display: none;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 400px) {
  .header .logo__description {
    display: block;
  }
}

.logo {
  display: flex;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
  opacity: 0.6;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation {
  display: none;
}
@media screen and (min-width: 400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-right: 75px;
  }
}
.navigation__item {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  margin-right: 50px;
  color: #2b292d;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__arrow {
  width: 8px;
  height: 5px;
  margin-left: 11px;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

.action__button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.learn-more-button {
  width: 158px;
  height: 48px;
  color: #3040c4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  border-radius: 2px;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .headline {
    width: 1140px;
    margin-top: 84px;
    margin: auto;
    position: relative;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
@media screen and (max-width: 399px) {
  .headline__actions .headline__action-button {
    width: 100%;
  }
}
@media screen and (max-width: 399px) {
  .headline__actions .headline__action-button:last-child {
    width: 100%;
    margin-top: 15px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.headline__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 0;
}
@media screen and (min-width: 400px) {
  .headline__description {
    margin-bottom: 0;
    margin-top: 34px;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
  }
}
@media screen and (min-width: 400px) {
  .headline .learn-more-button {
    margin-left: 10px;
    margin-top: 0;
  }
}

.action__button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.learn-more-button {
  width: 158px;
  height: 48px;
  color: #3040c4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  border-radius: 2px;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .footer-navigation {
    flex-direction: row;
    width: 1140px;
    height: 338px;
    margin: 0 auto;
  }
}
.footer-navigation .about-company {
  margin-top: 44px;
}
@media screen and (max-width: 399px) {
  .footer__description {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .footer__description {
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    margin-bottom: 25px;
    color: rgba(43, 41, 45, 0.6);
  }
}
.footer-line {
  width: 100%;
  border-top: 1px solid;
  opacity: 0.1;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 400px) {
  .footer-links {
    margin: 0;
    flex-direction: row;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
  }
}
.footer-links .terms {
  margin-bottom: 31px;
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  .footer-links .terms {
    margin: 0;
    line-height: 50px;
  }
}
.footer-links .terms__items {
  text-decoration: none;
  margin-right: 22px;
  color: rgba(43, 41, 45, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.footer-links .social-links {
  margin: 0;
}
.footer-links .social-links_item {
  margin-right: 20px;
}
@media screen and (min-width: 400px) {
  .footer-links .social-links_item {
    margin-left: 20px;
  }
}
@media screen and (min-width: 400px) {
  .footer-links .social-links {
    margin-left: auto;
  }
}

.logo-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .logo-mobile {
    display: none;
  }
}
.logo-mobile__image {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
@media screen and (max-width: 399px) {
  .logo-mobile__text {
    text-align: center;
  }
}
.logo-mobile__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo-mobile__description {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}

@media screen and (max-width: 399px) {
  .logo-footer {
    display: none;
  }
}
.downloads {
  margin-top: 31px;
}
@media screen and (max-width: 399px) {
  .downloads {
    text-align: center;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 400px) {
  .downloads {
    margin-top: 25px;
  }
}
.downloads__item {
  margin-right: 10px;
}

.adsitional-navigation {
  margin: 30px 15px 0 15px;
}
@media screen and (min-width: 400px) {
  .adsitional-navigation {
    margin: 0;
    margin: 60px 0 59px auto;
    display: flex;
  }
  .adsitional-navigation__column {
    margin-right: 29px;
  }
}
.adsitional-navigation .nav-links {
  width: 265px;
}
.adsitional-navigation .nav-links__title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.adsitional-navigation .nav-links__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 400px) {
  .line-mobile {
    display: none;
  }
}

@media screen and (max-width: 399px) {
  .line-desktop {
    display: none;
  }
}

.action__button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.learn-more-button {
  width: 158px;
  height: 48px;
  color: #3040c4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  border-radius: 2px;
}

.order {
  padding: 50px 15px;
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .order {
    flex-direction: row;
    padding: 73px 0 72px 0;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  margin: auto;
}
@media screen and (min-width: 400px) {
  .order__details {
    margin: 0;
    max-width: 555px;
  }
}
.order__illustration {
  margin: auto;
}
@media screen and (min-width: 400px) {
  .order__illustration {
    margin: 0;
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin-top: 40px;
}
.order__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  margin-top: 18px;
}
@media screen and (min-width: 400px) {
  .order__text {
    margin-top: 12px;
  }
}
@media screen and (min-width: 400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin: 0;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
}
.order__email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 400px) {
  .order__email {
    margin-top: 0;
  }
}
.order .action__button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
@media screen and (max-width: 399px) {
  .order .order__button {
    width: 100%;
  }
}
.order__button {
  margin-top: 12px;
}
@media screen and (min-width: 400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 400px) {
  .order__terms {
    margin-top: 10px;
  }
}
.order__terms-link {
  color: #3142c6;
}

.action__button {
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.learn-more-button {
  width: 158px;
  height: 48px;
  color: #3040c4;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  border-radius: 2px;
}

.audience {
  background-color: rgba(0, 161, 198, 0.07);
}
.audience__content {
  margin: 0 15px;
}
@media screen and (min-width: 400px) {
  .audience__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.audience__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 17px;
  padding-top: 50px;
}
@media screen and (min-width: 400px) {
  .audience__subtitle {
    margin: 0;
    padding-top: 109px;
    margin-bottom: 24px;
  }
}
.audience__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin-bottom: 18px;
}
@media screen and (min-width: 400px) {
  .audience__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
    max-width: 555px;
  }
}
.audience__description {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 400px) {
  .audience__description {
    max-width: 555px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 399px) {
  .audience__actions .audience__action-button {
    margin-bottom: 12px;
    width: 100%;
  }
}
.audience__user-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 15px 0 15px;
  padding-bottom: 50px;
}
@media screen and (min-width: 400px) {
  .audience__user-cards {
    margin: 0;
    flex-direction: row;
    margin: 111px 131px 0 130px;
    padding-bottom: 110px;
    justify-content: center;
  }
}
.audience__user-cards .user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 33px;
  width: 290px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 15px;
}
.audience__user-cards .user-card:hover {
  background: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  color: #ffffff;
}
@media screen and (min-width: 400px) {
  .audience__user-cards .user-card {
    width: 262px;
    margin: 0;
    margin-right: 30px;
  }
  .audience__user-cards .user-card:last-child {
    margin-right: 0;
  }
}
.audience__user-cards .user-card__image {
  margin-top: 22px;
}
.audience__user-cards .user-card__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 22px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100vw;
  overflow-x: hidden;
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
