.action__button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .action__button {
    width: 160px;
  }
}

.learn-more-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  color: #3040c4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
}
@media screen and (min-width: 400px) {
  .learn-more-button {
    width: 158px;
    margin: 0 0 0 10px;
  }
}

.footer-line {
  margin: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.1;
}

.action__button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .action__button {
    width: 160px;
  }
}

.learn-more-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  color: #3040c4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
}
@media screen and (min-width: 400px) {
  .learn-more-button {
    width: 158px;
    margin: 0 0 0 10px;
  }
}

.footer-line {
  margin: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.1;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 64px;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 400px) {
  .header {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background: transparent;
  }
}
.header .logo {
  display: flex;
}
.header .logo__image {
  margin-right: 13px;
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 400px) {
  .header .logo__image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
}
.header .logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.header .logo__description {
  display: none;
  line-height: 25px;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  opacity: 0.6;
}
@media screen and (min-width: 400px) {
  .header .logo__description {
    display: block;
  }
}
.header .navigation {
  display: none;
}
@media screen and (min-width: 400px) {
  .header .navigation {
    display: block;
    margin-left: auto;
    margin-right: 75px;
  }
}
.header .navigation__item {
  margin-right: 50px;
  line-height: 25px;
  font-size: 18px;
  text-decoration: none;
  color: #2b292d;
}
.header .navigation__item:last-child {
  margin-right: 0;
}
.header .navigation__item_selected {
  font-weight: 700;
}
.header .navigation__arrow {
  margin-left: 11px;
  width: 8px;
  height: 5px;
}
.header-button {
  display: none;
}
@media screen and (min-width: 400px) {
  .header-button {
    display: block;
  }
}
.header__menu-button {
  margin-left: auto;
  width: 58px;
  height: 100%;
  border: none;
  border-left: 1px solid;
  background: #2c3241;
  mix-blend-mode: normal;
  opacity: 0.1;
  background: transparent;
}
@media screen and (min-width: 400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button-icon {
  display: none;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.action__button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .action__button {
    width: 160px;
  }
}

.learn-more-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  color: #3040c4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
}
@media screen and (min-width: 400px) {
  .learn-more-button {
    width: 158px;
    margin: 0 0 0 10px;
  }
}

.footer-line {
  margin: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.1;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .headline {
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
    width: 1140px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 400px) {
  .headline__content {
    position: absolute;
    margin: 0;
    z-index: 1;
  }
}
.headline__title {
  margin: 0;
  line-height: 50px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    line-height: 78px;
    font-size: 80px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}
.headline__description {
  margin: 24px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
@media screen and (min-width: 400px) {
  .headline__description {
    margin: 34px 0 0 0;
    height: 102px;
    width: 456px;
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
  }
}
.headline__actions {
  margin-top: 15px;
}
@media screen and (min-width: 400px) {
  .headline__actions {
    display: flex;
    margin-top: 58px;
  }
}
.headline__action-button {
  margin-top: 15px;
}
@media screen and (min-width: 400px) {
  .headline__action-button {
    margin-top: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 400px) {
  .headline__banner {
    position: relative;
    top: 0;
    right: -105px;
    margin-left: auto;
    width: 796px;
    height: 448px;
  }
}

.action__button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .action__button {
    width: 160px;
  }
}

.learn-more-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  color: #3040c4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
}
@media screen and (min-width: 400px) {
  .learn-more-button {
    width: 158px;
    margin: 0 0 0 10px;
  }
}

.footer-line {
  margin: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.1;
}

.footer {
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .footer {
    margin: 0;
  }
}
@media screen and (min-width: 400px) {
  .footer-navigation {
    display: flex;
    margin: 0;
    margin-left: 130px;
  }
}
.footer-navigation .about-company .logo-footer {
  text-align: center;
}
@media screen and (min-width: 400px) {
  .footer-navigation .about-company .logo-footer {
    display: flex;
    text-align: left;
    margin-top: 43px;
  }
}
.footer-navigation .about-company .logo-footer__image {
  width: 60px;
  height: 60px;
}
.footer-navigation .about-company .logo-footer__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  height: 51px;
}
@media screen and (min-width: 400px) {
  .footer-navigation .about-company .logo-footer__text {
    align-items: flex-start;
    margin: 0;
    margin-left: 16px;
    margin-top: 5px;
    width: 222px;
  }
}
.footer-navigation .about-company .logo-footer__text_name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #2b292d;
}
.footer-navigation .about-company .logo-footer__text_description {
  line-height: 25px;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
}
.footer-navigation .about-company .footer__description {
  display: none;
}
@media screen and (min-width: 400px) {
  .footer-navigation .about-company .footer__description {
    display: block;
    margin: 0;
    margin-top: 26px;
    width: 360px;
    height: 85px;
    line-height: 26px;
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
  }
}
.footer-navigation .about-company .downloads {
  text-align: center;
  margin-top: 31px;
}
@media screen and (min-width: 400px) {
  .footer-navigation .about-company .downloads {
    text-align: left;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 59px;
  }
}
.footer-navigation .about-company .downloads__item {
  min-width: 135px;
  height: 40px;
}
.footer-navigation .about-company .downloads__item:last-child {
  margin-left: 10px;
  min-width: 116px;
}
.footer-navigation .line-mobile {
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .footer-navigation .line-mobile {
    display: none;
  }
}
.footer-navigation .adsitional-navigation {
  margin-top: 30px;
  margin-left: 15px;
}
@media screen and (min-width: 400px) {
  .footer-navigation .adsitional-navigation {
    display: flex;
    margin: 0;
    margin: 60px 0 47px 126px;
  }
}
.footer-navigation .adsitional-navigation .nav-links__title {
  margin: 0;
  line-height: 28px;
  font-size: 22px;
  font-weight: 700;
  color: #2b292d;
}
.footer-navigation .adsitional-navigation .nav-links__list {
  padding: 0;
  line-height: 38px;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 400px) {
  .footer-navigation .adsitional-navigation .nav-links__list {
    margin-right: 29px;
    line-height: 30px;
    width: 265px;
    height: 185px;
  }
}
.footer .line-desktop {
  display: none;
}
@media screen and (min-width: 400px) {
  .footer .line-desktop {
    display: block;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin: 30px 0 22px 15px;
}
@media screen and (min-width: 400px) {
  .footer-links {
    flex-direction: row;
    margin: 0;
    margin: 13px 0 15px 130px;
  }
}
.footer-links .terms {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.footer-links .terms__items {
  text-decoration: none;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.footer-links .social-links {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .footer-links .social-links {
    margin: 0;
    margin-left: auto;
    margin-right: 132px;
  }
}
.footer-links .social-links__item {
  margin-right: 20px;
}

.action__button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .action__button {
    width: 160px;
  }
}

.learn-more-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  color: #3040c4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
}
@media screen and (min-width: 400px) {
  .learn-more-button {
    width: 158px;
    margin: 0 0 0 10px;
  }
}

.footer-line {
  margin: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.1;
}

.order {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background: #f4f5f7;
}
@media screen and (min-width: 400px) {
  .order {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 73px 0 72px 0;
  }
}
.order__details {
  margin: auto;
}
@media screen and (min-width: 400px) {
  .order__details {
    margin: 0;
    max-width: 555px;
  }
}
.order__illustration {
  margin: auto;
}
@media screen and (min-width: 400px) {
  .order__illustration {
    margin: 0;
    margin-right: 121px;
    max-width: 269px;
  }
}
.order__title {
  text-align: center;
  margin-top: 40px;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.25px;
}
@media screen and (min-width: 400px) {
  .order__title {
    margin-top: 33px;
  }
}
.order__text {
  margin: 0;
  margin-top: 18px;
  width: 290px;
  height: 167px;
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
}
@media screen and (min-width: 400px) {
  .order__text {
    margin-top: 12px;
    width: 555px;
    height: 64px;
  }
}
@media screen and (min-width: 400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  text-align: center;
  margin: 0;
  margin-top: 40px;
  height: 48px;
  width: 100%;
  line-height: 13px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
}
.order__email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__button {
  margin-top: 12px;
}
@media screen and (min-width: 400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    max-width: 160px;
    flex-shrink: 0;
  }
}
.order__terms {
  margin: 0;
  margin-top: 10px;
  line-height: 22px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3142c6;
}

.action__button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .action__button {
    width: 160px;
  }
}

.learn-more-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  color: #3040c4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
}
@media screen and (min-width: 400px) {
  .learn-more-button {
    width: 158px;
    margin: 0 0 0 10px;
  }
}

.footer-line {
  margin: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.1;
}

.audience {
  background-color: rgba(0, 161, 198, 0.07);
}
.audience__content {
  margin: 0 15px;
}
@media screen and (min-width: 400px) {
  .audience__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.audience__subtitle {
  text-align: center;
  margin-bottom: 17px;
  padding-top: 50px;
  line-height: 34px;
  font-weight: 700;
  font-size: 22px;
}
@media screen and (min-width: 400px) {
  .audience__subtitle {
    margin: 0;
    margin-bottom: 24px;
    padding-top: 109px;
  }
}
.audience__title {
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 400px) {
  .audience__title {
    margin-bottom: 30px;
    max-width: 555px;
    line-height: 56px;
    font-size: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
@media screen and (min-width: 400px) {
  .audience__description {
    margin-bottom: 20px;
    max-width: 555px;
  }
}
.audience__action-button {
  margin-top: 12px;
}
.audience__user-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 15px 0 15px;
  padding-bottom: 50px;
}
@media screen and (min-width: 400px) {
  .audience__user-cards {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin: 110px 130px 0 130px;
    padding-bottom: 110px;
  }
}
.audience__user-cards .user-card {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 33px;
  width: 290px;
  height: 300px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .audience__user-cards .user-card {
    margin: 0;
    margin-right: 30px;
    width: 262px;
  }
  .audience__user-cards .user-card:last-child {
    margin-right: 0;
  }
}
.audience__user-cards .user-card:hover {
  background: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  color: #ffffff;
  cursor: pointer;
}
.audience__user-cards .user-card__image {
  margin: 22px auto;
}
@media screen and (min-width: 400px) {
  .audience__user-cards .user-card__image {
    margin: 22px auto 20px auto;
  }
}
.audience__user-cards .user-card__name {
  line-height: 28px;
  font-size: 22px;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100vw;
  overflow-x: hidden;
}
@media screen and (min-width: 400px) {
  .page {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1400px;
    min-height: 100vh;
  }
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

/*# sourceMappingURL=styles.css.map */
