@import 'variables.scss';
@import 'common.scss';
@import 'breakpoints.scss';

.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 64px;
  width: 100%;
  background-color: $background-color-white;

  @include for-large-up {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 62px;
    background: transparent;
  }

  .logo {
    display: flex;

    &__image {
      margin-right: 13px;
      width: 48px;
      height: 48px;

      @include for-large-up {
        margin-right: 15px;
        width: 60px;
        height: 60px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      line-height: 25px;
      font-size: 20px;
      font-weight: 700;
    }

    &__description {
      display: none;
      line-height: 25px;
      font-size: 18px;
      color: #2b292d99;
      opacity: 0.6;

      @include for-large-up {
        display: block;
      }
    }
  }

  .navigation {
    display: none;

    @include for-large-up {
      display: block;
      margin-left: auto;
      margin-right: 75px;
    }

    &__item {
      margin-right: 50px;
      line-height: 25px;
      font-size: 18px;
      text-decoration: none;
      color: $color-primary-black;

      &:last-child {
        margin-right: 0;
      }
    }

    &__item_selected {
      font-weight: 700;
    }

    &__arrow {
      margin-left: 11px;
      width: 8px;
      height: 5px;
    }
  }

  &-button {
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    margin-left: auto;
    width: 58px;
    height: 100%;
    border: none;
    border-left: 1px solid;
    color: rgba(40, 55, 65, 0.1);
    background: transparent;

    @include for-large-up {
      display: none;
    }
  }
  &__menu-button-icon {
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  }
}
