@import 'variables.scss';
@import 'breakpoints.scss';
@import 'common.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'footer.scss';
@import 'order.scss';
@import 'audience.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: $color-primary-black;
  overflow-x: hidden;
}

.page {

  @include for-large-up {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1400px;
    min-height: 100vh;
  }
}


.top-section {
  background-color: $background-color-pink;

  @include for-large-up {
    background-color: $background-color-pink;
    padding-top: 39px;
  }
}
